*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'padding',sans-serif;
}
body{
    background-color: rgb(42, 67, 67);
}
.app{
    height: 500px;
   max-width: 600px;
   margin: 100px auto 0;
    background-color: rgb(188, 182, 182);
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    align-items: center;
    font-weight: 25px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-style: italic;
    font-size: 20px;
    font-weight: 600px;
}
.ans-button{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.btn {
    border: 1px solid #222;
    background: #fff;
    font-weight: 500;
    width: 100%;
    color: #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition:all 0.3s;
}
.btn:hover{
    background: #222;
    color: whitesmoke;
}
#next{
    background-color: rgb(28, 63, 51);
    padding: 5px;
    width: 50px;
    color: whitesmoke;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
    display: none;
}
.correct{
    background: #0eeb84;
}
.incorrect{
    background: red;
}